body{
    color: #4b4848;
    background: #17184d;
    font-family: "Dancing Script", cursive;
    margin:0px;
    margin-bottom:100px;
}
.chamada{
background:rgb(0, 0, 126);
margin-top:80px;
margin-bottom:80px;
display: flex;
justify-content: center;
}
header{
    color:beige;
    font-size: 40px;
    border-bottom: solid 3px beige;
    
}
.categoria{
    background:rgb(0, 29, 126);
    padding-left:20px;
    padding-ring: 20px;
    margin-top: 50px;
}
.categoria-videos{
    background: black;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria-videos ing{
    height: 200px;
    opacity: 0.5px;
}
.categoria-videos ing:hover{
    opacity: 1.0;
    border: 3px solid red;
}
