body{
    color: #4b4848;
    background: #17184d;
    font-family: "Dancing Script", cursive;
    margin:0px;
    margin-bottom:100px;
}
.chamada{
background:rgb(0, 0, 126);
margin-top:80px;
margin-bottom:80px;
display: flex;
justify-content: center;
}
header{
    color:beige;
    font-size: 40px;
    border-bottom: solid 3px beige;
    
}